@tailwind base;
@tailwind components;
@tailwind utilities;

:root {}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #d90b1f;
    --text-color: #990ceb;
  }
}

html {
  font-size: 16px;
}

body {
  color: var(--text-color);
  background: var(--background-color)
}

.mainpage-title {
  color: #22c55e;
  font-size: 32px;
  text-align: center;
  font-family:'Courier New';
}

body {
  background-color: #7c11ba;
}

