@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #fff;
  --text-color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000;
    --text-color: #fff;
  }
}

html {
  font-size: 16px;
}

body {
  color: var(--text-color);
  background: var(--background-color)
}
